.btn {
  padding: 1.1667rem 2.2778rem;
  color: #000000;
  font-weight: 800;
  font-size: 0.8889rem;
  line-height: 1.12;
  background-color: $backBorderColor;
  border-color: transparent;
  border-radius: 100px;
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;

  &:hover {
    color: $backBorderColor;
    background-color: #000000;
  }

  &--reset {
    padding: rem(21px);
    text-transform: none;
    color: #ffffff;
    background-color: inherit;

    &:hover {
      color: #000000;
      background-color: inherit;
    }
  }

  @include phones {
    padding: rem(21px) rem(36px);
  }
}
