.card__list {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}

.card__item {
  flex: 1;
  padding: rem(5px) rem(0px);
  margin-right: rem(51px);
  position: relative;

  &::before {
    content: url("../img/Combinedshape.png");
    position: absolute;
    top: rem(60px);
    right: 0;
    transform: translateX(50%);
  }

  &:last-child {
    margin-right: 0;

    &::before {
      display: none;
    }
  }

  @include tablets {
    margin-right: 0.83333rem;

    &::before {
      display: none;
    }
  }

  @include phones {
    display: flex;
    margin-right: 0;
    margin-bottom: rem(31px);
  }
}

.card__wrap-img {
  background: #f2f5f4;
  border-radius: 50%;
  width: rem(128px);
  height: rem(128px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: rem(20px);

  @include phones {
    margin-bottom: 0;
    margin-right: rem(12px);
  }
}

.card__icon {
  width: rem(68px);
  height: rem(64px);
}

.card__text {
  @include phones {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.card__title {
  text-align: center;
  font-size: rem(27px);
  font-weight: 700;
  line-height: 1.18;
  margin-bottom: rem(20px);

  @include tablets {
    margin-bottom: rem(5px);
  }

  @include phones {
    margin-bottom: rem(10px);
  }
}

.card__desc {
  text-align: center;
  color: #666666;
  font-weight: 300;
  line-height: 1.22;

  @include phones {
    text-align: left;
  }
}
