.feature {
  margin-bottom: rem(20px);

  @include tablets {
    display: none;
  }
}

.feature__list {
  display: flex;
  align-items: center;
}

.feature__item {
  display: flex;
  font-size: rem(16px);
  font-weight: 700;
  align-items: center;
  margin-right: rem(33px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__img-wrap {
  margin-right: rem(14px);
}

.feature__text {
  max-width: rem(90px);
}
