.footer {
  padding: rem(19px) 0;
  width: 100%;
  flex: 0 0 auto;
  @include phones {
  }
}

.container-footer {
  display: flex;
  justify-content: space-between;
  height: inherit;

  @include phones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: rem(14px);
  padding-top: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__icon {
  width: rem(20px);
  height: rem(20px);
  display: inline-block;
  fill: #b3b3b3;

  &:hover {
    fill: #292929;
  }
}
