.form {
  display: flex;
  color: #ffffff;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.form__col {
  width: 100%;
  margin-right: rem(27px);

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    width: rem(466px);
    margin-right: 0;
  }

  @include phones {
    width: 100%;
  }
}

.form__row {
  display: flex;
  flex: 1;
  margin-bottom: rem(12px);

  &--margin-bottom {
    margin-bottom: rem(38px);
  }

  @include tablets {
    margin-bottom: rem(14px);
  }

  @include phones {
    margin-bottom: rem(14px);
  }

  &--margin-bottom {
    @include tablets {
      margin-bottom: rem(24px);
    }

    @include phones {
      margin-bottom: rem(22px);
    }
  }
}

.form__block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }
}

.form__title {
  line-height: 1.22;
  margin-bottom: rem(2px);
}

.form__input {
  height: rem(58px);
  color: #000000;
  font-size: rem(14px);
  line-height: 1.43;
  padding: rem(18px) rem(12px);
  border-radius: 4px;
  display: block;
  width: 100%;
  border: none;
  border: 4px solid transparent;

  &:focus {
    border-color: $backBorderColor;
    outline: none;
  }

  @include tablets {
    height: rem(36px);
    padding: rem(8px) rem(10px);
  }
}

.form__input-textarea {
  height: rem(152px);
  resize: none;

  @include tablets {
    height: rem(82px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(19px);

  @include tablets {
    margin-bottom: rem(24px);
  }

  @include phones {
    justify-content: center;
  }
}

.form__controls--margin-bottom {
  margin-bottom: rem(46px);

  @include tablets {
    margin-bottom: rem(38px);
  }
}

.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-right: rem(10px);

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        background: url("../img/check.png") center center / cover no-repeat;
      }
    }
  }

  @include tablets {
    margin-right: rem(24px);
  }

  @include phones {
    margin-bottom: rem(10px);
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.radio__visible {
  width: rem(25px);
  height: rem(26px);
  border-radius: 50%;
  position: relative;
  background: #ffffff;
  margin-right: rem(10px);

  &::before {
    content: "";
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    width: rem(13px);
    height: rem(13px);
    background: $backBorderColor;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__btns {
  display: flex;
  align-items: flex-start;

  @include tablets {
    justify-content: center;
  }
}
