.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: rem(20px);

  @include tablets {
    height: rem(91px);
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  margin-right: rem(46px);

  &-img {
    width: rem(55px);
    height: rem(50px);
  }
}

.phone-icon {
  width: rem(14px);
  height: rem(17px);
  margin-right: rem(3px);
  flex-shrink: 0;
  fill: white;
}
