.header {
  display: flex;
  align-items: center;
  height: 88px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  margin-right: 46px;
}

.contacts {
  font-style: normal;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;

  & a {
    color: #ffffff;
  }

  .contacts__icon {
    margin-right: 3px;
  }
}
