.main {
  color: #ffffff;
  padding: 28px 0 61px;
  align-items: stretch;
  background: url("../img/mainback.png") center center / cover no-repeat #1968b1;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 43%;
  margin-bottom: 67px;
}

.main__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.21;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.main__text {
  font-size: 21px;
  margin-bottom: 39px;
}
