.reviews {
}

.reviews__title {
  margin-bottom: rem(32px);

  @include phones {
    margin-bottom: rem(26px);
  }
}

.reviews__display {
  background: #f8faf9;
  display: flex;
  align-items: center;
  padding: rem(42px);
  margin-bottom: rem(15px);

  @include tablets {
    flex-direction: column;
    padding: rem(56px) rem(23px) rem(22px);
    height: rem(418px);
    margin-bottom: rem(30px);
  }

  @include phones {
    height: rem(466px);
  }
}

.reviews__avatar-wrap {
  margin-right: rem(40px);
  width: rem(253px);
  height: rem(264px);
  flex-shrink: 0;

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-right: 0;
    margin-bottom: rem(32px);
  }

  @include phones {
    margin-bottom: rem(27px);
  }
}

.reviews__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;

  @include tablets {
    align-items: center;
    text-align: center;
  }
}

.reviews__subtitle {
  font-weight: 700;
  font-size: rem(27px);
  line-height: 1.18;
  margin-bottom: rem(14px);

  @include phones {
    width: 75%;
  }
}

.reviews__text {
  line-height: 1.22;
  color: #666666;
  margin-bottom: rem(25px);
  width: 85%;

  @include tablets {
    width: 100%;
  }
}

.reviews__author {
  font-weight: 500;
  line-height: 1.33;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  width: rem(74px);
  height: rem(74px);
  overflow: hidden;
  border-radius: 50%;
  margin-right: rem(6px);
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__switcher-link {
  display: block;
  border-radius: 50%;
  &--active,
  &:hover {
    &::before {
      content: "";
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
      width: rem(74px);
      height: rem(74px);
      border: 6px solid $backBorderColor;
      box-sizing: border-box;
    }
  }
}

.reviews__switcher-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
