.section {
  color: #292929;
  padding: 62px 0 63px;
  text-align: center;
  height: 100vh;
  min-height: 656px;
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.21;
  text-transform: uppercase;
}
