.container-why {
  @include tablets {
    width: 100%;
  }
}

.why__block {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: rem(45px);
}

.why__title {
  margin-bottom: rem(17px);

  @include phones {
    margin-bottom: rem(9px);
  }
}

.why__desc {
  color: #666666;
  line-height: 1.22;
  width: 46%;
  word-wrap: break-word;

  @include tablets {
    width: 61%;
  }

  @include phones {
    width: 100%;
  }
}
